# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# Flask
instance/
.webassets-cache

# Logs
*.log

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Windows
Thumbs.db

# pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Ignore uploaded images
uploads/*

# Ignore saved embeddings
embeddings/*

# But keep the folders themselves
!uploads/.gitkeep
!embeddings/.gitkeep
